ul.tweets
	each tweet, i in tweets
		li.tweet
			p.tweet-author= tweet._creator.username
			p.tweet-timestamp= 'posted at: ' + tweet.formattedDate + ' ' + tweet.formattedTime
			p.tweet-content= tweet.content